# Python and project-specific ignore rules
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.jupyter/
.cache/
*.egg-info/
.cache

# Project specific directories
backup
tmp/
output

# VS Code Files
settings.json
settings.local.json

# Project specific files
SIT742-2026T2-A2-G3-Forecast.csv
SIG742-2026T2-A2-G3-Forecast.csv